div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}


.scaled{
    transform: perspective(1000px) scaleZ(8) rotateX(45deg) rotateY(30deg);
}