.box{
    background-color: aqua;
    width: 50px;
    transform: translate(200px,200px);
    transform: translateX(200px);
    transform: translateY(200px);
    transform: rotate(-30deg);
    transform: scale(1,100);
}