/* .box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: navajowhite;
} */

.wrapper{
    height: 2000px;
    width: 100vh;
    background-color: yellow;
}

div{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: navajowhite;
}
#box3{
    /* position: relative; */
    position: absolute;
    top: 80px;
    left: 50px;
    background-color: aquamarine;
}
#box4{
    position: sticky;
    top: 0px;
}

/* #box1{
    position: fixed;
} */
